@charset "UTF-8";

body {
    background-color: lightgreen;
}

.cabecalho {
    background-image: linear-gradient(to bottom #3CDA83 #04B152 #04DB65 #038F42 #026D32);
    background-attachment: fixed;
    background-color: #3CDA83;
    text-align: center;
    height: 115px;
    width: 1334px;
    padding: 20px 0px;
}

#links {
    text-align: left;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    background-color: greenyellow;
}

section {
    background-color: rgb(150, 255, 176);
    text-align: justify;
}

footer {
    background-color: rgb(8, 70, 8);
    color: white;
    text-align: center;
}